.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.name{
    font-family: inherit;
}

.AllMovie{
display: grid;
grid-template-columns: repeat(3,1fr);


}




